# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# Gemini
.gemini/
.geminiignore

# Build directories
build/
bin/
out/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# CMake
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
cmake_install.cmake
install_manifest.txt
Makefile
